/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  color: black;
}

.modal-dialog {
  max-width: 50%;
}

/* Modal Content/Box */
.modal-content {
  background-color: #333;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px 0 20px 0;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 40em;
}

.modal-header {
  background: linear-gradient(to bottom, rgba(241,231,103,1) 6%,rgba(241,231,103,1) 36%,rgba(241,231,103,1) 36%,rgba(254,182,69,1) 98%);
  padding-top: 5px;
  margin-bottom: 3px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Custom column behavior */
.modal-col {
  overflow: auto;
  padding-right: 5px;
}

.modal-header {
  justify-content: normal !important;
  height: 4em;
  padding-top: 0;
}

.modal-title {
  padding-top: 10px;
}

.name {
  padding-left: 10px;
}

.comments-col {
  padding-right: 15 !important;
}

/* Custom behavior */

.btn-margin {
  margin: 2% 2% 0 0;
}

.rap-text {
  text-align: left;
  padding: 0 3em 0 3em;
}

.img-thumb {
  max-width: 50px;
  max-height: 50px;
  border-radius: 25px;
  width: auto;
  height: auto;
}

.close {
  margin: -0.8rem -0.8rem -0.8rem auto !important;
}

/* Clear floats after the columns */
.modal-row {
  margin: 0 !important;
  width: 100% !important;
  height: 100%;
}

.modal-body {
  background-color: white;
}

.comments-row {
  overflow: auto;
  height: 70%;
  background-color: white;
}
.modal-row:after {
  content: "";
  display: table;
  clear: both;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 0px;
  height: 80px;
}
