.rap-text {
  text-align: left;
  padding: 0 3em 0 3em;
}

.card {
  margin: 1em;
}

.card-body {
  text-align: center;
  background: #91A3B0;
}

.card-text {
  color: #333;
}

.row {
  width: 80%;
  margin: 3% 10% 0 10%;
}

.col-sm-6 {
  padding-right: 0px;
  max-width: 33%;
}

.rapText {
  background-color: white;
  overflow: auto;
  height: 500px;
}

.btn-space {
  margin-top: 0.5em;
}

.card-title {
  color: #333;
}
