.container {
  border: 1px solid black;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 8px;
  float: left;
}

.friendList.container {
  position: fixed;
  padding: 0.5px;
  margin-bottom: 41px;
  width: 200px;
  overflow: auto;
  height: 0px;
  bottom: 0;
  right: 0;
  transition: 0.5s;
}

.friendList.minimize {
  background-color: lightblue;
  height: 15px;
  text-align: right;
  font-size: 10px;
}

.friend {
  text-align: center;
  border: 1px solid black;
  padding: 0.5px;
  width: 200px;
}

.hide {
  display: none;
}

.sidenav {
  height: 5%; /* 100% Full-height */
  width: 200px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the bottom */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 5px 60px 5px 5px;
  text-align: right;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}