.dropzone {
  cursor: pointer
}

.container-img {
  width: 100%;
}

.image-prof {
  text-align: center !important;
  margin: 0px 0px 10px 0px !important;
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-img:hover .image {
  opacity: 0.3;
}

.container-img:hover .middle {
  opacity: 1;
}

.text {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  width: 100%;
  border-radius: .25em;
  padding: 16px 32px;
  cursor: pointer;
}

.col-2 {
  padding-top: 20px;
}

.col-md-2 {
  text-align: center;
}

.bio {
  padding-top: 30px;
}
